h1{
text-align:center;
}

textarea.code{
height:95;
width:94.5%;
border:1px solid green;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

h2{
display: inline-block;
margin:-5px;
padding:5px;
border:1px solid green;
background-color:bc9e82;
width:30%;
text-align:center;
}

h2.currentStep{
background-color:orange;
width:33%;
}

button{
display: inline-block;
padding:3px;
margin:10px;
width:15%;
height:30px;
border-radius:15px;
text-align:center;
background-color:grey;
color:white;
}

button:hover{
color:black;
}

a{
color:black;
}

div.step{
visibility: hidden;
}